 /* region comman */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.menu{
    display: flex;
    align-items: center;
    list-style: none;
    
}
.block-left{
    display: flex;
    align-items: center;
    gap: 45px;
    color: black;
    

    
ul{
    gap: 45px;
    
    
}
}
.block-right{
    display: flex;
    align-items: center;
    color: black;
    
ul{
    gap: 45px;
}
}