 /*region comman*/

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 /*region header*/

 header {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 20px;



 }

 .menu {
     display: flex;
     align-items: center;
     list-style: none;

 }

 /*menu left*/

 .block-left {
     display: flex;
     align-items: center;
     gap: 45px;



     ul {
         gap: 45px;

         a {
             color: rgba(128, 128, 128, 0.738);
             text-decoration: none;
         }
     }


 }

 /*menu right*/

 .block-right {

     display: flex;
     align-items: center;
     gap: 45px;


     ul {
         gap: 45px;

         a {
             color: rgba(128, 128, 128, 0.738);
             text-decoration: none;

         }
     }

     span {
         background-color: rgba(0, 128, 255, 0.711);
         color: white;
         border-radius: 150px;
         padding: 10px;
     }
 }

 /* end-header*/

 /*main*/
 section {
     background-color: rgba(0, 157, 255, 0.441);
 }

 .container {
     width: 60%;
     margin: auto;


 }

 .row {
     display: flex;
     flex-wrap: wrap;
     margin: 0 -1rem;

 }

 h1 {
     font-size: 50px;
 }

 .col-4 {
     width: calc((100% / 12) * 4);



 }

 .col-8 {
     width: calc((100% / 12) * 8);
 }

 img {
     max-width: 100%;

 }

 .click {
     border-radius: 150px;
     padding: 10px;
     background-color: rgba(0, 128, 255, 0.711);
     border-color: rgba(0, 128, 255, 0.711);
     ;

 }

 a {
     color: white;
     text-decoration: none;

 }